<h1>User List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Admin?</th> 
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.is_admin? %></td>
    </tr>
  <% end %> 
  <tr>
    <th>Role</th>
  </tr> 
</table>